.movie-details-header {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: -20px;
    margin-top: 10px;
  }

  .movie-details-header img {
    width: 1400px;
    margin-top: 30px;
  }
  
  .original-title {
    font-style: italic;
  }
  
  .movie-details-content {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 50px;
   
  }
  
  .movie-poster img {
    max-width: 200px;
    margin-bottom: 10px;
  }
  
  .movie-description {
    margin-left: 20px;
    width: 900px;
  }
  
  .reviews-section {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 60px;
  }

  .reviews-container {
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
  }
  
  .review {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .back-button {
    display: flex;
    align-items: center;
    align-self: center;
  }

  .back-button button {
    background: transparent;
    border: 2px solid lightgray;
    padding: 8px 50px;
    background-color: white;
    color: rgb(134, 132, 132);
    font-size: 15px;
    border-radius: 3px;
    margin-bottom: 30px;
  }

  button {
    background: transparent;
    border: 2px solid lightgray;
    padding: 8px 30px;
    background-color: white;
    color: rgb(134, 132, 132);
    font-size: 15px;
    border-radius: 3px;
    margin-top: 20px;
  }

  button:hover {
    background-color: lightgray;
    color: white;
    cursor: pointer;
  }
  
  button:active {
    background-color: lightgray;
    box-shadow: 0 5px #666;
    color: white;
    transform: translateY(4px);
  }

  .review-button button {
    display: flex;
    width: 220px;
    align-items: center;
    align-self: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
  }

  