.footer {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(243, 243, 243);
    text-decoration: none;
    margin-top: 100px;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
}

.footer img {
    display: flex;
    width: 150px;
    padding-right: 30px;
}

.footer-links {
    padding-left: 30px;
}

.footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: -9px;
}