.movie-list-bar {
  display: flex;
  flex-direction: row-reverse;
  border: 3px white solid;
  background: white;
  box-shadow: 2px 2px 10px 1px lightgray;
  width: 90%;
  height: 30px;
  border-radius: 100px;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  align-items: center;
}

.movie-list-bar button {
  background: transparent;
  border: 2px solid lightgray;
  padding: 8px 50px;
  background-color: white;
  color: rgb(134, 132, 132);
  font-size: 15px;
  border-radius: 3px;
}

.movie-list-bar button:hover {
  background-color: lightgray;
  color: white;
  cursor: pointer;
}

.movie-list-bar button:active {
  background-color: lightgray;
  box-shadow: 0 2px #666;
  color: white;
  transform: translateY(4px);
}

.movie-list-bar input {
  height: 30px;
  margin-top: 6px;
  display: flex;
  border: 2px solid lightgray;
  color: black;
  padding: 0px 20px;
}

.movie-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start; 
  text-align: center;
}

.movie-card {
  border: 3px white solid;
  background: rgb(250, 250, 250);
  box-shadow: 2px 2px 10px 1px lightgray;
  border-radius: 30px;
  flex: 0 0 calc(22% - 20px); 
  max-width: calc(22% - 20px); 
  margin: 10px; 
  height: 530px; 
  padding: 10px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.movie-card img {
  height: 300px;
  width: auto;
  margin-bottom: 20px; 
}

a,
h3,
.movie-details p {
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
}
