.movie-list-bar {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(22, 136, 186, 0.40);
  box-shadow: 1px 1px 2px 2px rgb(22, 136, 186, 0.50);
  width: 90%;
  height: 30px;
  border-radius: 190px;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  align-items: center;
}

.movie-list-bar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 15px 80px;
  background-color: rgb(22, 136, 186, 0.4);
  font-size: 13px;
}

.movie-list-bar input {
  height: 30px;
  margin-top: 6px;
  display: flex;
  border: 2px solid white;
  color: black;
  padding: 0px 20px;
}

.movie-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start; 
  text-align: center;
}

.movie-card {
  border: 3px white solid;
  background: rgb(250, 250, 250, 0.5);
  border-radius: 5px;
  flex: 0 0 calc(22% - 20px); 
  max-width: calc(22% - 20px); 
  margin: 10px; 
  height: 530px; 
  padding: 10px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.movie-card img {
  height: 300px;
  width: auto;
  margin-bottom: 20px; 
}

a,
h3,
.movie-details p {
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
}
