.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
  }

  .navbar img {
    width: 150px;
    height: auto;
    padding: 3px;
  }

  .navbar-links {
  color: black;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
  padding: 10px;
  }

  .navbar-links p {
    margin-right: 20px; 
    color: black;
    font-size: 16px;
  }