@import url('https://fonts.googleapis.com/css2?family=Roboto:display=swap');

* {
  margin: 0;
  font-size: 15px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: rgb(255, 255, 255);
}

.homepage {
  display: flex;
  flex-direction: column;
  background-image: url(/src/assets/howl049.jpeg);
  background-size: 1450px;
  background-repeat: no-repeat;
}

.homepage img {
  width: 100vw;
  height: auto;
  z-index: -1;
}

.homepage-intro {
  width: 600px ;
  display: flex;
  padding: 20px;
  padding-top: 30px;
}

.homepage-intro p {
  font-weight: 300;
  font-size: 14px;
  color: white;
}

.homepage-intro button {
  background-color: transparent;
  border: 2px white solid;
  padding: 10px 7px;
  color: white;
  margin-left: 340px;
  margin-bottom: 25px;
  font-size: 13px;
}

div {
  display: flex;
  flex-direction: column;
}

.movie-container {
  z-index: 1;
  padding-top: 30px;
  border-radius: 20px;
  width: 100vw;
  margin-top: 225px;
}

.movie-container h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.movie-container button {
  margin-top: 10px;
}

